html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{line-height:1.6;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;color:#222222;}
input,textarea,select{color:#666666;}
input,textarea{outline:0;}
body,h1,h2,h3,h4,p,ul,ol,dl,dd,fieldset{margin:0;}
fieldset,legend{padding:0;}
ul,ol{padding-left:0;list-style-type:none;}
a img,fieldset{border:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;*font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
